@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
        width: 100%;
        height: 100%; 
        margin: 10;
        padding: 0; 
    }
}

.navbar {
    position: absolute;
    z-index: 1;
    width: 1367px;
    height: 120px;
    left: 50px;
    top: 0;
    
}

.navbar a {
    position: static;
    display: inline;
    top: 50px;
    margin-left: 50px; 
    margin-bottom: 30px;
}

.logo {
    width: 159px;
    height: 146px;
    top: -50px;
    left: 62px;

}

a {
    position: absolute;
    text-decoration: none;
    width: 46px;
    height: 24px;
    top: 51px;
    left: 305px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(6, 6, 6, 1);

}

.overlay {
    width: 1366px;
    height: 120px;
    left: 0px;
    position: absolute;


}


.container img{
    position: absolute;
    width: 1366px;
    height: 722px;
    top: 47px;
    left: -1px;
    z-index: -1;
}

.vector {
    position: absolute;
    width: 86px;
    height: 83px;
    top: 366px;
    left: 640px;
 

}

.main {
    position: absolute;
    width: 654px;
    height: 114px;
    top: 919px;
    left: 359px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(47, 72, 88, 1);
    display: inline-block;
    vertical-align: middle;
    

}

.ripped {
    position: absolute;
    width: 1366px;
    height: 55px;
    top: 1182px;
    left: 0;
    z-index: 1;
    

}
.image-class1 {
    position: absolute;
    width: 328px;
    height: 355px;
    top: 1197px;
    left: 0;

}

.image-class2 {
    width: 334px;
    height: 364px;
    top: 1202px;
    left: 328px;
    position:absolute;

}

.image-class3 {
    width: 298px;
    height: 180px;
    top: 1202px;
    left: 662px;
    position:absolute;

}

.image-class4 {
    width: 298px;
    height: 184px;
    top: 1382px;
    left: 662px;
    position:absolute;
}

.image-class5 {
    width: 406px;
    height: 383px;
    top: 1183px;
    left: 960px;
    position:absolute;
}

.ripped-B {
    position: absolute;
    width: 1366px;
    height: 55px;
    top: 1526px;
    z-index: 1;

}

.Lsapnis {
    position: absolute;
    text-align: center;

    width: 394px;
    height: 29px;
    top: 1731px;
    left: 220px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    
    color: rgba(47, 72, 88, 1);
    

}

.Rsapnis {
    position: absolute;
    text-align: center;

    width: 500px;
    height: 29px;
    top: 1731px;
    left: 698px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;


}

.Lbutton {
    position: absolute;
    width: 233px;
    height: 50px;
    top: 1810px;
    left: 300px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 168, 0, 1);
    border: none;
    border-radius: 25px;
    text-align: center;
    line-height: 50px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.Rbutton {
    position: absolute;
    width: 233px;
    height: 50px;
    top: 1810px;
    left: 825px;        
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 168, 0, 1);
    border: none;
    border-radius: 25px;
    text-align: center;
    line-height: 50px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

h1 {
    position: absolute;
    width: 819px;
    height: 48px;
    top: 2010px;
    left: 274px;
    font-family:'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(47, 72, 88, 1);

}

.input-field1 {
    position: absolute;
    padding-left: 12px;
    width: 296px;
    height: 43px;
    top: 2113px;
    left: 377px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: rgba(47, 72, 88, 1);
    border-radius: 6px;
    border: none;
    background: rgba(196, 196, 196, 0.4);
}

.input-field2 {
    position: absolute;
    padding-left: 12px;
    width: 296px;
    height: 43px;
    top: 2113px;
    left: 693px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: rgba(47, 72, 88, 1);
    border-radius: 6px;
    border: none;
    background: rgba(196, 196, 196, 0.4);
}

.input-field3 {
    position: absolute;
    padding-left: 12px;
    width: 612px;
    height: 43px;
    top: 2171px;
    left: 377px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: rgba(47, 72, 88, 1);
    border-radius: 6px;
    border: none;
    background: rgba(196, 196, 196, 0.4);
}

.input-field4 {
    position: absolute;
    padding-left: 12px;
    width: 612px;
    height: 232px;
    top: 2229px;
    left: 377px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: rgba(47, 72, 88, 1);
    border-radius: 6px;
    border: none;
    background: rgba(196, 196, 196, 0.4);
}

.comment {
    position: absolute;
    width: 612px;
    height: 25px;
    top: 2476px;
    left: 377px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(47, 72, 88, 1);

}

.input-field5 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2529px;
    left: 380px;
    border-radius: 3px;
    background: rgba(231, 231, 231, 1);

}

.input-field6 {
    position:absolute;
    width: 572px;
    height: 39px;
    top: 2526px;
    left: 417px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(47, 72, 88, 1);

}

.submit {
    position:absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    width: 182px;
    height: 62px;
    top: 2615px;
    left: 592px;
    background: rgba(255, 168, 0, 1);
    border-radius: 30px;
    border: none;

}

.subtract {
    position: absolute;
    left: 0;
    width: 1366px;
    height: 481.59px;
    top: 2827px;
 }

h3 {
    position:absolute;
    width: 394px;
    height: 29px;
    top: 2927px;
    left: 486px;

    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(47, 72, 88, 1);
}

.getlogo {
    position:absolute;
    width: 241.95px;
    height: 80px;
    top: 3045px;
    left: 168px;
}

.semlogo {
    position: absolute;
    width: 209.32px;
    height: 80px;
    top: 3045px;
    left: 495px;
    padding: 0.13px, 0.06px, 0.04px, 0.11px;
}

.citybee {
    position: absolute;
    width: 238.96px;
    height: 80px;
    top: 3045px;
    left: 789px;
}

.logo1 {
    position:absolute;
    width: 84.77px;
    height: 120px;
    top: 3026px;
    left: 1113px;
}

/*.vector2 {
    position: absolute;
    top: 3275px;
    left: 0;
    width: 1366px;
    height: 59.32px;
}*/

.rectangle {
    position: absolute;
    width: 1366px;
    height: 324.34px;
    top: 3275px;
    left: 0;
    background-color: rgba(47, 72, 88, 1);
    z-index: -1;
}

.golden {
    position: absolute;
    width: 182px;
    height: 182px;
    top: 3348px;
    left: 62px;
}

.copyright {
    position:absolute;
    top: 3545px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    left: 62px;
    color: rgba(255, 255, 255, 1);
}

.menu1 {
    position:absolute;
    width: 68px;
    height: 24px;
    top: 3325px;
    left: 384px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.menu2 {
    position:absolute;
    width: 182px;
    height: 24px;
    top: 3371px;
    left: 381px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.menu3 {
    position:absolute;
    width: 179px;
    height: 24px;
    top: 3421px;
    left: 381px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.menu4 {
    position:absolute;
    width: 123px;
    height: 45px;
    top: 3462px;
    left: 381px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.menu5 {
    position:absolute;
    width: 179px;
    height: 45px;
    top: 3502px;
    left: 381px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.menu6 {
    position:absolute;
    width: 179px;
    height: 29px;
    top: 3540px;
    left: 381px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.bank {
    position:absolute;
    width: 287px;
    height: 24px;
    top: 3325px;
    left: 642px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.bank1 {
    position:absolute;
    width: 279px;
    height: 24px;
    top: 3371px;
    left: 642px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.bank2 {
    position:absolute;
    width: 279px;
    height: 23px;
    top: 3405px;
    left: 642px;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.bank3 {
    position:absolute;
    width: 279px;
    height: 19px;
    top: 3439px;
    left: 642px;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.contact {
    position:absolute;
    width: 182px;
    height: 45px;
    top: 3326px;
    left: 1120px;
    font-family: 'Montserrat',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}

.contact1 {
    position: absolute;
    width: 394px;
    height: 45px;
    top: 3370px;
    left: 908px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}

.contact2 {
    position: absolute;
    width: 182px;
    height: 21px;
    top: 3400px;
    left: 1120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}

.contact3 {
    position: absolute;
    width: 315px;
    height: 22px;
    top: 3433px;
    left: 987px;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}

.facebook {
    position: absolute;
    width: 18px;
    height: 36px;
    top: 3505px;
    left: 1221px;
    color: rgba(255, 255, 255, 1);
}

.inst {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 3505px;
    left: 1268px;
    color: rgba(255, 255, 255, 1);
}

.end {
    position: absolute;
    width: 190px;
    height: 14px;
    top: 3550px;
    left: 1114px;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}
